@use './material';
@use 'codemirror/lib/codemirror';
@use 'codemirror/theme/material-darker';

html,
body {
  width: 800px;
  height: 100%;
  min-height: 540px;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
