@use './material';

@use 'codemirror/lib/codemirror';
@use 'codemirror/theme/material-darker';

:root {
  /* ======================================== */
  /* Spaces */
  /* ======================================== */
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-64: 64px;
  --space-96: 96px;
  --space-128: 128px;
  --space-192: 192px;
  --space-256: 256px;
  --space-384: 384px;
  --space-512: 512px;
  --space-640: 640px;
  --space-768: 768px;

  /* ======================================== */
  /* Border Radius */
  /* ======================================== */
  --border-radius-rectangle: 4px;
  --border-radius-circle: 100%;

  --popup-width: 800px;
  --popup-height: 540px;
  --toolbar-height: 48px;
  --home-body-height: 484px;
  --codemirror-height: 250px;
}

html,
body {
  width: var(--popup-width);
  height: var(--popup-height);
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.CodeMirror {
  height: var(--codemirror-height);
}
