<popup-mock-toolbar></popup-mock-toolbar>
<div *ngIf="mockMode$ | async as mockMode" class="home-body">
  <ng-container [ngSwitch]="mockMode">
    <ng-container *ngSwitchCase="'new'">
      <popup-mock-form
        (cancelled)="updateMode('list')"
        (submitted)="addMock($event)"
      ></popup-mock-form>
    </ng-container>
    <ng-container *ngSwitchCase="'edit'">
      <ng-container *ngIf="mockEdit$ | async as mockEdit">
        <popup-mock-form
          [mock]="mockEdit"
          (cancelled)="updateMode('list')"
          (submitted)="updateMock(mockEdit.id, $event)"
        ></popup-mock-form>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'list'">
      <popup-mock-list
        [mocks]="(mocks$ | async) || []"
        (deleted)="onDelete($event)"
        (duplicated)="onDuplicate($event)"
        (edited)="onEdit($event)"
        (isActiveUpdated)="updateIsActive($event)"
      ></popup-mock-list>
    </ng-container>
  </ng-container>
</div>
