<div *ngIf="mocks && mocks.length > 0; else noMocks" class="mock-list">
  <div *ngFor="let mock of mocks" class="mock-item">
    <mat-slide-toggle
      [checked]="mock.isActive"
      (change)="onSlideToggleChange($event.checked, mock)"
    ></mat-slide-toggle>
    <div>
      <span
        class="http-method"
        [ngClass]="'http-method-' + mock.httpMethod.toLowerCase()"
        >{{ mock.httpMethod }}</span
      >
    </div>
    <div class="url">{{ mock.url }}</div>
    <div>{{ mock.statusCode }}</div>
    <div>{{ mock.delayInMS }}</div>
    <button type="button" mat-icon-button (click)="duplicated.emit(mock)">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="edited.emit(mock)">
      <mat-icon>edit</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="deleted.emit(mock.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<ng-template #noMocks>
  <div class="no-mocks">
    <p>No Mocks Yet.</p>
    <button
      class="create-mock"
      color="primary"
      mat-flat-button
      (click)="createMock.emit()"
    >
      <mat-icon>add</mat-icon>Create a Mock
    </button>
  </div>
</ng-template>
